@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: "Nunito", sans-serif;
}

.container {
    position: relative;
    width: 100%;
    background-color: #37ACC3;
    min-height: 100vh;
    overflow: hidden;
}